{% extends 'index.html' %}
{% block content %}
       {% load bootstrap3 %}
       
       <div class="jumbotron jumbotron-fluid">
              <h3 class="logo" style="text-align: center;">Login to view contents</h3>
           <div class="container">   
              <form method="POST">
                     {% csrf_token %}
                     {% bootstrap_form form %}
                     <div>
                            
                            <ul class="btn-group" style="list-style: none;">
                                         <li> <input type="submit" class="btn btn-success" value="Login"></li>
                                         <li style="margin-left: 30px;"><a class="btn btn-success" href="{% url 'accounts:register' %}">Register</a></li>
                            </ul>
                    </div>

              </form>
           </div>
       </div>

{% endblock %}