<!DOCTYPE html>
<html>
       <head>
              <title>Testing</title>
       </head>
       <body>

       <!--Description-->
       
       <div  class="jumbotron jumbotron-fluid">
                     
              <div class="container">
                     
                     <strong>PUNE – The Best City to Live in India</strong>
                     <p>
                            The second biggest city in the state of Maharashtra with around 4.5 million people living happily in an area of 450 sq. km. I have lived in many cities over the years. However, PUNE holds a special place in my heart.&nbsp;No other place has given the level of thrill, fun, memories, holidays &amp; opportunities as Pune. The city emerged drastically over the span of last 10 years and was awarded as the 2nd best city to live in India.
                     </p>
                     <p>
                            With great weather, amazing nightlife, lip smacking food &amp; &nbsp;unbelievable holiday destinations in nearby proximity – PUNE has everything one would want in a satisfactory lifespan. Even after being famous for a modern and fashionable lifestyle, the people of this city still maintains the ground of their cultural values. Such an alluring character of Pune makes it the best city to live in India.
                     </p>
              </div>

       </div>
               
       </body>
</html>