<!DOCTYPE html>
<html>
       <head>
              <title>Testing</title>
       </head>
       <body>

       <!--Description-->
       
       <div  class="jumbotron jumbotron-fluid">
                     
              <tr>
                     <th><label for="id_username">Username:</label>
                     </th>
                     <td><input type="text" name="username" value="Spydi" maxlength="150" required id="id_username"><br><span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></td></tr>
            <tr>
       <th>
              <label for="id_password">Password:</label>
       </th>
              <td><div id="id_password"> 

       </div>
               
       </body>
</html>